.article {
  margin: 5vh 15vw !important;
  text-align: center;
}

.post-page-image {
  max-width: 100%;
  margin: 15px auto;
}

.post-page-content {
  text-align: justify;
  margin: 1.6em 0;
  text-align: justify;
  text-indent: 30px;
}

.post-date {
  color: #adadad;
  font-size: 14px;
  font-style: italic;
}
